@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-image:url('img/Super.jpg'); background-position:center center; background-repeat:no-repeat; background-size:cover;">
    
<div class="text-center">
    <h2 class="display-4">SUPERMARKET</h2>
   <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

</body>